@model StorageContentPlatform.Web.Models.ContentsController.BlobViewModel

@{
    ViewData["Title"] = $"{Model.ContainerName}/{Model.Blob.Name}";
}

<h3>@Html.ActionLink(Model.ContainerName, "Container", new { containerName = Model.ContainerName })/@Model.Blob.Name</h3>
<br />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Content
        </dt>
        <dd class="col-sm-10">
            @Model.Blob.Content
        </dd>
    </dl>
</div>
<div>
</div>
