@model StorageContentPlatform.Web.Models.ContentsController.IndexViewModel

@{
    ViewData["Title"] = "Content Containers";
}

<h3>Containers available</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Containers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Contents", "Container", new {  containerName=item.Name  })
                </td>
            </tr>
        }
    </tbody>
</table>
